@font-face {
  font-family: 'PF High Way';
  src: url("../fonts/pfhighway/PFHighwaySansPro-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500; }
@font-face {
  font-family: 'PF High Way';
  src: url("../fonts/pfhighway/PFHighwaySansPro-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'PF High Way';
  src: url("../fonts/pfhighway/PFHighwaySansPro-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-regular.woff") format("woff");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-bold.woff") format("woff");
  font-style: normal;
  font-weight: bold; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-italic.woff") format("woff");
  font-style: italic;
  font-weight: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-bolditalic.woff") format("woff");
  font-style: italic;
  font-weight: bold; }
html {
  min-width: 960px;
  background: #f2f2f2;
	max-height: 999999px !important;
	/* Text is never inflated */
	text-size-adjust: none;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	* {
		max-height: 999999px !important;
	}
}

body {
  font-family: "PF High Way", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  margin: 0 auto; }

.container {
  width: 960px; }

h2 {
  font-family: "PF High Way", sans-serif;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
  margin: 0; }
  h2.big {
    font-size: 45px; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000; }

.dashed {
  text-decoration: none;
  border-bottom: 1px dashed; }
  .dashed:hover {
    text-decoration: none;
    border-bottom-color: transparent; }

.highlighted {
  border-bottom: 3px solid #e8346c; }

.list-decorated {
  padding-top: 20px;
  padding-bottom: 2px; }
  .list-decorated li {
    font-family: "Roboto", sans-serif;
    position: relative;
    padding-left: 50px;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 20px; }
    .list-decorated li span {
      position: absolute;
      top: -3px;
      left: 0;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      text-align: center;
      background: #e8346c;
      color: #ffffff;
      font-family: "PF High Way", sans-serif;
      font-size: 20px;
      line-height: 34px;
      display: inline-block; }
    .list-decorated li small {
      display: block;
      font-size: 14px; }

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #e8346c; }

.swiper-button-prev,
.swiper-button-next {
  top: auto;
  bottom: 2px;
  width: 40px;
  height: 40px;
  opacity: .5;
  transition: opacity .3s; }
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    opacity: 1; }

.swiper-button-prev {
  background: url("../images/slider/swiper-prev.png") no-repeat 50% 50%;
  left: 310px; }

.swiper-button-next {
  background: url("../images/slider/swiper-next.png") no-repeat 50% 50%;
  right: 310px; }

.swiper-shadow-next,
.swiper-shadow-prev {
  position: absolute;
  top: 0;
  width: 211px;
  height: 450px;
  z-index: 10; }

.swiper-shadow-prev {
  background: url("../images/slider/swiper-shadow-prev.png") no-repeat 50% 50%;
  background-size: cover;
  left: -3px;
  right: auto; }

.swiper-shadow-next {
  background: url("../images/slider/swiper-shadow-next.png") no-repeat 50% 50%;
  background-size: cover;
  left: auto;
  right: -3px; }

.wizard > .steps {
  display: none; }
.wizard > .content {
  background: transparent;
  min-height: 500px; }
  .wizard > .content > .body {
    padding-top: 0;
    width: 100%; }
    .wizard > .content > .body input[type="text"],
    .modal-body input[type="text"] {
      display: block;
      margin: 20px auto;
      width: 400px;
      max-width: 100%;
      height: 55px;
      border-radius: 5px;
      border: 1px solid #eeeeee;
      padding: 0 20px;
      background: #ffffff;
      line-height: 55px;
      color: #000000;
      font-size: 18px;
      font-family: "Roboto", sans-serif; }
      .wizard > .content > .body input[type="text"].error,
      .modal-body input[type="text"].error {
        background: #ffffff;
        border-color: #e8346c; }
      .wizard > .content > .body input[type="text"]:first-of-type,
      .modal-body input[type="text"]:first-of-type {
        margin-top: 0; }
.wizard > .actions {
  text-align: center; }
  .wizard > .actions ul li {
    margin: 0; }
  .wizard > .actions ul a[href="#previous"],
  .wizard > .actions ul a[href="#finish"] {
    display: none; }
  .wizard > .actions ul a,
  .btn-kitchen {
    display: block;
    height: 50px;
    padding: 0 40px;
    border-radius: 50px;
    background: #e8346c;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 50px;
    color: #ffffff; }
    .wizard > .actions ul a:hover,
    .btn-kitchen:hover {
      display: block;
      height: 50px;
      padding: 0 40px;
      border-radius: 50px;
      background: #d11851;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      line-height: 50px;
      color: #ffffff; }

.section-title {
  padding-bottom: 25px; }
  .section-title h3 {
    font-family: "PF High Way", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    margin-top: 7px;
    margin-bottom: 0; }
  .section-title .hint {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    opacity: .6; }
  .section-title__success {
    padding: 30px 0 23px 0; }
  .section-title h2 {
    padding-bottom: 10px; }

.radio-btn__elements {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
}
  .radio-btn__elements input[type="radio"] {
    display: none !important; }
    .radio-btn__elements input[type="radio"]:checked + .radio-btn__element-wrapper {
      border-color: #e8346c; }
      .radio-btn__elements input[type="radio"]:checked + .radio-btn__element-wrapper .radio-btn__element-checkbox {
        background: #e8346c; }
        .radio-btn__elements input[type="radio"]:checked + .radio-btn__element-wrapper .radio-btn__element-checkbox:after {
          content: '';
          position: absolute;
          left: 50%;
          top: 44%;
          display: block;
          width: 8px;
          height: 14px;
          border: solid #ffffff;
          border-width: 0 2px 2px 0;
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
          -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }
  .radio-btn__elements.radio-btn__elements-text {
    display: block;
    text-align: center; }
    .radio-btn__elements.radio-btn__elements-text > label {
      display: block !important; }
    .radio-btn__elements.radio-btn__elements-text .radio-btn__element-wrapper {
      display: block;
      width: 400px;
      margin-bottom: 5px;
      margin-left: auto;
      margin-right: auto;
      padding: 15px; }
    .radio-btn__elements.radio-btn__elements-text .radio-btn__element-title {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      line-height: 20px;
      text-align: left;
      padding: 0 0 0 40px; }
    .radio-btn__elements.radio-btn__elements-text .radio-btn__element-checkbox {
      left: 0;
      right: auto; }
    .radio-btn__elements.radio-btn__elements-text.radio-btn__elements-text-big .radio-btn__element-wrapper {
      width: 700px; }

.radio-btn__element-wrapper {
  display: block;
  width: 225px;
  border-radius: 5px;
  border: 1px solid #CDCAC3;
  background: #FFFFFF;
  padding: 10px;
  margin: 5px 5px 0 5px;
  cursor: pointer; }
.radio-btn__element-title {
  font-family: "PF High Way", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  display: block;
  position: relative;
  padding-bottom: 12px; }
.radio-btn__element-checkbox {
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  background: #EEEEEE; }
.radio-btn__element.unknown .radio-btn__element-content {
  position: relative;
  display: block; }
  .radio-btn__element.unknown .radio-btn__element-content:after {
    content: '';
    width: 100%;
    height: 100%;
    background: transparent url("../images/question.png") no-repeat 50% 50%;
    position: absolute;
    top: 0; }
  .radio-btn__element.unknown .radio-btn__element-content img {
    opacity: .5; }
.radio-btn__element strong {
  display: inline-block;
  padding-top: 10px; }

.steps-counter {
  text-align: center;
  opacity: .6;
  font-size: 12px;
  font-family: "Roboto", sans-serif; }

header {
  height: 600px;
  background: #ffffff url("../images/header-bg.png") no-repeat 50% 50%; }
  @media (min-width: 1040px) {
    header {
      padding-top: 90px; } }
  @media (min-width: 1700px) {
    header {
      background-size: cover; } }
  header nav {
    height: 90px;
    background: #ffffff; }
    @media (min-width: 1040px) {
      header nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        border-bottom: 1px solid #eeeeee;
        box-shadow: 0 0 5px 0 #cccccc;
        z-index: 5000; } }
  header .header__logo {
    font-family: "PF High Way", sans-serif;
    color: #000000;
    font-size: 30px;
    line-height: 45px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding-top: 25px; }
  header .header__apply {
    color: #e8346c;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none!important;
    padding-top: 35px;
    display: inline-block; }
  header .header__phone {
    font-family: "PF High Way", sans-serif;
    color: #000000;
    font-size: 24px;
    line-height: 1;
    padding-top: 23px; }
    header .header__phone a {
      color: #000000;
      text-decoration: none; }
      header .header__phone a:hover {
        text-decoration: none; }
  header .header__time {
    font-family: "Roboto", sans-serif;
    color: #000000;
    font-size: 12px;
    line-height: 30px; }
  header .header__description {
    font-family: "PF High Way", sans-serif;
    color: #000000;
    margin-top: 75px; }
  header .header__title {
    font-size: 50px;
    line-height: 45px;
    margin-bottom: 23px;
    font-weight: 500; }
  header .header__text {
    font-size: 20px;
    line-height: 35px; }
    header .header__text .highlighted {
      border-bottom-width: 2px; }

footer {
  background: #222222;
  color: #ffffff;
  padding: 50px 0 60px 0; }
  footer .footer-logo {
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 12px; }
  footer .footer-info {
    font-family: "Roboto", sans-serif;
    color: #F3F2F0 !important;
    font-size: 14px;
    line-height: 25px;
    opacity: .6; }
    footer .footer-info a {
      color: #F3F2F0 !important; }
  footer .footer-phone {
    font-size: 24px;
    line-height: 45px;
    font-weight: 400;
    margin-top: 2px;
    margin-bottom: 5px; }
    footer .footer-phone a {
      color: #ffffff; }
      footer .footer-phone a:hover {
        text-decoration: none; }
  footer .footer-time {
    font-family: "Roboto", sans-serif;
    color: #F3F2F0;
    font-size: 14px;
    line-height: 25px;
    opacity: .6; }
    footer .footer-time p {
      margin-bottom: 5px;
      color: #ffffff;
      font-size: 14px; }

.block {
  padding: 70px 0; }
  .block-gray {
    background: #F7F6F4; }
  .block__kitchen-difference {
    padding-top: 90px; }
    .block__kitchen-difference h2 {
      margin-bottom: 10px; }
    .block__kitchen-difference__text {
      padding-top: 8px; }
      .block__kitchen-difference__text p {
        margin-bottom: 20px; }
    .block__kitchen-difference__img {
      position: relative;
      height: 235px; }
      .block__kitchen-difference__img img {
        position: absolute;
        right: 0;
        top: 19px; }
      .block__kitchen-difference__img a {
        position: absolute;
        bottom: 0;
        left: 48px;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
        opacity: .4; }
  .block__free-project {
    padding-top: 90px; }
    .block__free-project h2 {
      margin-bottom: 32px; }
    .block__free-project__best-price {
      border-bottom-width: 2px;
      cursor: pointer; }
  .block__kitchen-ideas {
    padding-top: 100px;
    padding-bottom: 35px; }
    .block__kitchen-ideas-wrapper {
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      justify-content: space-between;
      -webkit-justify-content: space-between;
    }
      .block__kitchen-ideas-wrapper > div {
        width: 180px;
        text-align: center;
        margin-bottom: 30px; }
        .block__kitchen-ideas-wrapper > div:nth-child(5n) {
          margin-left: 0; }
        .block__kitchen-ideas-wrapper > div:nth-child(5n + 5) {
          margin-right: 0; }
        .block__kitchen-ideas-wrapper > div img {
          margin-bottom: 25px; }
        .block__kitchen-ideas-wrapper > div p {
          font-size: 14px;
          line-height: 20px;
          text-align: center; }
  .block__kitchen-colors {
    background: transparent url("../images/kitchen-colors.png") no-repeat 50% 50%;
    height: 550px;
    padding-top: 40px; }
    @media (min-width: 1200px) {
      .block__kitchen-colors {
        background-size: cover; } }
    .block__kitchen-colors h2 span {
      display: inline-block;
      background: #e8346c;
      color: #ffffff;
      padding: 10px 35px; }
      .block__kitchen-colors h2 span:first-child {
        padding-bottom: 0; }
      .block__kitchen-colors h2 span:last-child {
        padding-top: 0; }
  .block__has-image {
    position: relative;
    padding-top: 90px;
    padding-bottom: 80px; }
    .block__has-image h2 {
      padding-bottom: 10px; }
    .block__has-image__picture {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0; }
  .block__how-we-work .block__has-image__picture {
    background: transparent url("../images/how-we-work.png") no-repeat 50% 50%;
    background-size: cover; }
  .block__kitchen-benefit .block__has-image__picture {
    background: transparent url("../images/kitchen-benefit.png") no-repeat 50% 50%;
    background-size: cover; }
  .block__form h2 {
    line-height: 40px; }

.kitchen-logos {
  display: flex;
  display: -webkit-flex;
  align-items: baseline;
  -webkit-align-items: baseline;
  justify-content: center;
  -webkit-justify-content: center;
  margin-top: 27px; }
  .kitchen-logos > div {
    width: 140px;
    margin: 0 10px; }
.js-to-kitchen {
  cursor: pointer;
}

.modal-dialog {
  margin-top: 20px;
}

@media (min-width: 1040px) {
  .modal-dialog {
    margin-top: 150px;
  }
}

.modal-title {
  text-align: center;
}
.modal-body input[type="file"] {
  max-width: 100%;
  width: 400px;
  margin: 0 auto;
}
.modal-body label {
  text-align: left;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.modal-body form {
  text-align: center;
}
.modal-body .btn-kitchen {
  display: inline-block;
  margin: 20px 0;
  outline: none !important;
}