header {
	$navHeight: 90px;

	height: 600px;
	background: #ffffff url("../images/header-bg.png") no-repeat 50% 50%;

	@media (min-width: $containerMinWidth + 80px) {
		padding-top: $navHeight;
	}



	@media (min-width: 1700px) {
		background-size: cover;
	}

	nav {
		height: $navHeight;
		background: #ffffff;

		@media (min-width: $containerMinWidth + 80px) {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			border-bottom: 1px solid #eeeeee;
			box-shadow: 0 0 5px 0 #cccccc;
			z-index: 5000;
		}

	}

	.header {
		&__logo {
			font-family: $fontHW;
			color: #000000;
			font-size: 30px;
			line-height: 45px;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 1.8px;
			padding-top: 25px;
		}

		&__apply {
			color: $kitchenPink;
			font-family: $fontRbt;
			font-size: 14px;
			line-height: 20px;
			margin-left: 50px;
			padding-top: 35px;
			display: inline-block;
		}

		&__phone {
			font-family: $fontHW;
			color: #000000;
			font-size: 24px;
			line-height: 1;
			padding-top: 23px;

			a {
				color: #000000;
				text-decoration: none;
				&:hover {
					text-decoration: none;
				}

			}
		}

		&__time {
			font-family: $fontRbt;
			color: #000000;
			font-size: 12px;
			line-height: 30px;
		}



		&__description {
			font-family: $fontHW;
			color: #000000;
			margin-top: 75px;
		}

		&__title {
			font-size: 50px;
			line-height: 45px;
			margin-bottom: 23px;
			font-weight: 500;
		}

		&__text {
			font-size: 20px;
			line-height: 35px;

			.highlighted {
				border-bottom-width: 2px;
			}
		}
	}
}