$containerMinWidth: 960px;

$kitchenPink: #e8346c;

$fontHW: 'PF High Way', sans-serif;
$fontRbt: 'Roboto', sans-serif;

html {
	min-width: $containerMinWidth;
	background: #f2f2f2;
}

body {
	font-family: $fontHW;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #000000;
	margin: 0 auto;
}

.container {
	width: $containerMinWidth;
}

h2 {
	font-family: $fontHW;
	font-size: 30px;
	line-height: 45px;
	color: #000000;
	margin: 0;

	&.big {
		font-size: 45px;
	}
}

p {
	font-family: $fontRbt;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
}

.dashed {
	text-decoration: none;
	border-bottom: 1px dashed;

	&:hover {
		text-decoration: none;
		border-bottom-color: transparent;
	}
}
.highlighted {
	border-bottom: 3px solid $kitchenPink;
}

.list-decorated {
	padding-top: 20px;
	padding-bottom: 2px;
	li {
		font-family: $fontRbt;
		position: relative;
		padding-left: 50px;
		font-size: 18px;
		line-height: 25px;
		color: #000000;
		margin-bottom: 20px;

		span {
			position: absolute;
			top: -3px;
			left: 0;

			$spanHeight: 30px;
			width: $spanHeight;
			height: $spanHeight;
			border-radius: 50%;
			text-align: center;
			background: $kitchenPink;
			color: #ffffff;
			font-family: $fontHW;
			font-size: 20px;
			line-height: $spanHeight + 4px;
			display: inline-block;

		}

		small {
			display: block;
			font-size: 14px;
		}
	}
}


.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
	background: $kitchenPink;
}

.swiper-button-prev,
.swiper-button-next {
	top: auto;
	bottom: 2px;
	width: 40px;
	height: 40px;
	opacity: .5;
	transition: opacity .3s;
	&:hover {
		opacity: 1;
	}
}


.swiper-button-prev {
	background: url('../images/slider/swiper-prev.png') no-repeat 50% 50%;
	left: 310px
}
.swiper-button-next {
	background: url('../images/slider/swiper-next.png') no-repeat 50% 50%;
	right: 310px;
}

.swiper-shadow-next,
.swiper-shadow-prev {
	position: absolute;
	top: 0;
	width: 211px;
	height: 450px;
	z-index: 10;
}

.swiper-shadow-prev {
	background: url('../images/slider/swiper-shadow-prev.png') no-repeat 50% 50%;
	background-size: cover;
	left: -3px;
	right: auto;
}
.swiper-shadow-next {
	background: url('../images/slider/swiper-shadow-next.png') no-repeat 50% 50%;
	background-size: cover;
	left: auto;
	right: -3px;
}