@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/roboto-regular.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/roboto-bold.woff') format('woff');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/roboto-italic.woff') format('woff');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/roboto-bolditalic.woff') format('woff');
	font-style: italic;
	font-weight: bold;
}