//@font-face {
//	font-family: 'PF High Way';
//	src: url('../fonts/pfhighway/PFHighwaySansPro-Black.woff') format('woff');
//	font-style: normal;
//	font-weight: 900;
//}
//@font-face {
//	font-family: 'PF High Way';
//	src: url('../fonts/pfhighway/PFHighwaySansPro-BlackItal.woff') format('woff');
//	font-style: italic;
//	font-weight: 900;
//}
//@font-face {
//	font-family: 'PF High Way';
//	src: url('../fonts/pfhighway/PFHighwaySansPro-Bold.woff') format('woff');
//	font-style: normal;
//	font-weight: 700;
//}
//@font-face {
//	font-family: 'PF High Way';
//	src: url('../fonts/pfhighway/PFHighwaySansPro-BoldItal.woff') format('woff');
//	font-style: italic;
//	font-weight: 700;
//}
//@font-face {
//	font-family: 'PF High Way';
//	src: url('../fonts/pfhighway/PFHighwaySansPro-MedItal.woff') format('woff');
//	font-style: italic;
//	font-weight: 500;
//}
@font-face {
	font-family: 'PF High Way';
	src: url('../fonts/pfhighway/PFHighwaySansPro-Medium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
}
//@font-face {
//	font-family: 'PF High Way';
//	src: url('../fonts/pfhighway/PFHighwaySansPro-Italic.woff') format('woff');
//	font-style: italic;
//	font-weight: 400;
//}
@font-face {
	font-family: 'PF High Way';
	src: url('../fonts/pfhighway/PFHighwaySansPro-Regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
}
//@font-face {
//	font-family: 'PF High Way';
//	src: url('../fonts/pfhighway/PFHighwaySansPro-Light.woff') format('woff');
//	font-style: normal;
//	font-weight: 300;
//}
//@font-face {
//	font-family: 'PF High Way';
//	src: url('../fonts/pfhighway/PFHighwaySansPro-LightItal.woff') format('woff');
//	font-style: italic;
//	font-weight: 300;
//}
//@font-face {
//	font-family: 'PF High Way';
//	src: url('../fonts/pfhighway/PFHighwaySansPro-Thin.woff') format('woff');
//	font-style: normal;
//	font-weight: 200;
//}
//@font-face {
//	font-family: 'PF High Way';
//	src: url('../fonts/pfhighway/PFHighwaySansPro-Thin.woff') format('woff');
//	font-style: normal;
//	font-weight: 200;
//}
//@font-face {
//	font-family: 'PF High Way';
//	src: url('../fonts/pfhighway/PFHighwaySansPro-ThinItal.woff') format('woff');
//	font-style: italic;
//	font-weight: 200;
//}
//@font-face {
//	font-family: 'PF High Way';
//	src: url('../fonts/pfhighway/PFHighwaySansPro-XThin.woff') format('woff');
//	font-style: normal;
//	font-weight: 100;
//}
//@font-face {
//	font-family: 'PF High Way';
//	src: url('../fonts/pfhighway/PFHighwaySansPro-XThinItal.woff') format('woff');
//	font-style: italic;
//	font-weight: 100;
//}